.hasil-tes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}
.hasil-tes-nama{
    text-align: center;
    margin-top: 20px;
    margin-left: 165px;
    margin-right: 165px;
}
.hasil-tes-nama h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'poppins';
    margin-bottom: 20px;
}
.kesimpulan-container{
    align-items: center;
    box-shadow: #9370CC 0px 1px 4px, #9370CC 0px 0px 0px 3px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: 350px;
    margin-right: 350px;
}
.hasil-tes-kesimpulan{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.hasil-tes-kesimpulan h1{
    margin-bottom: 20px;
}
.hasil-tes-kesimpulan h2{
    margin-bottom: 30px;
    font-weight: 500;
}