.tes-sindrom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}
.tes-sindrom-nama{
    text-align: center;
    margin-top: 20px;
    margin-left: 165px;
    margin-right: 165px;
}
.tes-sindrom-nama h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'poppins';
    margin-bottom: 20px;
}
.tes-sindrom-nama h2{
    font-family: 'poppins';
    color: #5559;
    font-size: 15px;
    font-weight: 500;
}

.tes-sindrom-container{
    border-bottom: 1px solid #dbdef0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 170px;
}
.tes-sindrom-soal{
    font-weight: 700;
    font-size: 16px;
    color: black;
    line-height: 19px;
    margin-top: 40px;
}
.tes-sindrom p{
    margin-bottom: 15px;
    margin-top: 60px;
}

.tes-sindrom button{
    margin: 10px;
    width: auto;
    height: 45px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: transparent;
    font-family: "poppins";
    font-weight: 500;
    font-size: 14px;
    color: black;
    padding: 4px 14px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.tes-sindrom button:hover{
    background-color: #EC744A;;
    color: white;
    border:none;
}
.tes-sindrom-submit button{
    margin: 10px;
    width: 440px;
    height: 40px;
    margin-left: 400px;
    padding-left: 10px;
    margin-top: 70px;
    border: 2px solid #9747FF;
    border-radius: 20px;
    background-color: transparent;
    font-family: "poppins";
    font-weight: 500;
    font-size: 14px;
    color: #4d5b9e;
    padding: 4px 14px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.tes-sindrom-submit button:hover{
    background-color: #9370CC;
    color: white;
    border: none;
}