.tes-baby-blues{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}
.tes-nama{
    text-align: center;
    margin-top: 20px;
    margin-left: 165px;
    margin-right: 165px;
}
.tes-nama h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'poppins';
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.tes-nama h2{
    font-family: 'poppins';
    color: #5559;
    font-size: 15px;
    font-weight: 500;
}

.tes-baby-container{
    border-bottom: 1px solid #dbdef0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: -450px;
}
.tes-baby-soal{
    font-weight: 700;
    font-size: 16px;
    color: black;
    line-height: 19px;
    margin-top: 40px;
}
.tes-baby-soal p{
    margin-bottom: 15px;
    margin-top: 60px;
}
.tes-baby-soal button{
    margin: 10px;
    width: auto;
    height: 45px;
    padding-left: 10px;
    border-radius: 30px;
    background-color: transparent;
    font-family: "poppins";
    font-weight: 500;
    font-size: 14px;
    color: black;
    padding: 4px 14px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.tes-baby-soal button:hover {
    background-color: #EC744A;
    color: white;
}
.tes-baby-submit button{
    width: 440px;
    height: 40px;
    margin-left: 490px;
    margin-top: 70px;
    border: 2px solid #9747FF;
    border-radius: 20px;
    background-color: transparent;
    font-family: "poppins";
    font-weight: 500;
    font-size: 14px;
    color: #4d5b9e;
    padding: 4px 14px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.tes-baby-submit button:hover{
    background-color: #9370CC;
    color: white;
}

.popup-dua {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang agak gelap */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Pastikan pop-up muncul di atas konten lain */
    animation: fadeIn 1s ease; /* Animasi fadeIn */
  }
  
  .popup-content-dua {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: left;
    animation: slideIn 1s ease; /* Animasi slideIn */
  }
  
  .popup-content-dua h1 {
    margin-top: 30px;
    text-align: center;
    color: #d65a2c;
  }
  .popup-content-dua h2 {
    margin-top: 30px;
    text-align: center;
  }
  
  .popup-content-dua p {
    margin-bottom: -20px;
    margin-top: 60px;
  }
  
  .popup-content-dua button {
    padding: 8px 20px;
    background-color: #EC744A;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 125px;
    width: 300px;
    font-size: 16px;
  }
  
  .popup-content-dua button:hover {
    background-color: #eda083;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Keyframes untuk slideIn */
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
  }

  .popup-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang agak gelap */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Pastikan pop-up muncul di atas konten lain */
    animation: fadeIn 1s ease; /* Animasi fadeIn */
  }
  
  .popup-content-confirmation {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    animation: slideIn 1s ease; /* Animasi slideIn */
  }
  .popup-content-confirmation h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
  }
  
  .popup-content-confirmation p {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .popup-content-confirmation button {
    padding: 8px 20px;
    background-color: #EC744A;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
    width: 300px;
    font-size: 16px;
  }
  
  .popup-content-confirmation button:hover {
    background-color: #eda083;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Keyframes untuk slideIn */
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
  }