.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1 {
    color: #171717;
    font-size:40px;
    font-weight: 600;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Memposisikan item di tengah */
}

.media-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    height: 410px;
    max-width: 486px;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.media-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    height: 410px;
    max-width: 485px;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;/* Memberikan margin antar media */
}

.media-info {
    text-align: left;
    margin-top: 20px;
}

.popular-item img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px; /* Mengurangi jarak antara gambar dan judul */
    border-radius: 6px;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: rgb(94,180,124);
    background: linear-gradient(90deg, rgba(94,180,124,1) 35%, rgba(0,125,110,1) 100%);
    border: none;
    margin-bottom: 20px;
}

.popular-item h2 {
    margin-bottom: 10px;
    margin-left: 24px;
    text-align: left; /* Menengahkan teks judul */
}
.media-info p{
   margin-left: 24px;
   margin-bottom: 12px;
   margin-right:  80px;
}

.popular-item button {
    margin-left: 320px;
    margin-top: 10px;
    border-radius: 18px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    width: 145px;
    background: #EC744A;
    color: white;
}
