.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1 {
    color: #171717;
    font-size:40px;
    font-weight: 600;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Memposisikan item di tengah */
}

.media-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    height: 440px;
    max-width: 486px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px hsla(0, 0%, 0%, 0.1); /* Memberikan margin antar media */
}
.media-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    height: 440px;
    max-width: 485px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px hsla(0, 0%, 0%, 0.1)/* Memberikan margin antar media */
}

.media-info {
    text-align: left;
}

.popular-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Mengurangi jarak antara gambar dan judul */
    border-radius: 6px;
}

.popular hr {
    width: 200px;
    height: 6px;
    font-size: 20px;
    border-radius: 10px;
    background: #FFC93C;
    border: none;
}

.popular-item h2 {
    margin-bottom: 10px;
    margin-left: 24px;
    text-align: left; /* Menengahkan teks judul */
}
.media-info p{
   margin-left: 24px;
   margin-bottom: 12px;
   margin-right:  80px;
}

.popular-item button {
    margin-left: 320px;
    border-radius: 18px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    width: 145px;
    background: #FFC93C;
    color: white;
}
